.general-info ul li p {
    margin: 0;
}

.list-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.list-skills .list-item {
    margin-right: 1rem;
    padding-bottom: .5rem;
}

.list-skills .list-item::after {
    content: '';
    display: block;
    background-color: #17a2b8;
    width: 80%;
    height: 2px;
    margin: auto;
    margin-top: 5px;
}

.work-experience {
    position: relative;
    z-index: 1;
}

.work-experience h4 {
    margin-left: 2rem;
}

.work-experience::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: aqua;
    /* border-radius: 50%; */
    z-index: 3;
}

.work-experience::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    width: 15px;
    height: 100%;
    background-color: red;
    z-index: 2;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    
}

/* Laptop */
@media (max-width: 992px) {
    
}

/* Tablet */
@media (max-width: 768px) {
    
}

/* Mobile */
@media (max-width: 576px) {
    .right-side {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}